<div>
    <h1>Booked Rooms</h1>
    <div class="area">
        <div class="container" *ngFor="let room of rooms">
            <img src="../../../assets/deluxe" *ngIf="room.type == 'Deluxe'"/>
            <img src="../../../assets/single.webp" *ngIf="room.type == 'Single'"/>
            <img src="../../../assets/suite.jpg" *ngIf="room.type == 'Suite'"/>
            <img src="../../../assets/default" *ngIf="room.type == undefined"/> 
            <div class="text">
                <h4>Room No: {{room.number}}</h4>
                <p><i>{{room.type}}</i></p>
                <p>{{room.beds}} Bed</p>
            </div>
        </div>
    </div>
</div>
